@import '../../../global.scss';

.calendarContainer {
  min-height: 300px;
  width: 400px;
  padding: 8px;
  background: $primary;
  border-radius: 4px;
  user-select: none;
  position: relative;
  margin: 20px;

  .calendarHeader {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary;
    position: relative;
    margin-bottom: 8px;

    > h2 {
      color: $secondaryLight;
    }
  }

  .days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 8px;
  }

  .otherMonthDay {
    color: $secondaryLight;
    opacity: 0.5;
  }

  .monthArrows {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

  .hidden {
    display: none;
  }
}
