@import "../../global.scss";

.button {
  background: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  margin: 16px;

  &.round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &.default {
    min-width: 120px;
    height: 50px;
    border-radius: 4px;
  }

  &:hover {
    background: $primary;
    color: $secondary;

    > svg {
      fill: $secondary;
    }
  }

  > svg {
    width: 24px;
    fill: $secondaryLight;
  }
}
