@import "../../../global.scss";

.projectManager {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $primary;
  border-radius: 4px;
  user-select: none;
  position: relative;

  .calendarHeader {
    width: 100%;
    height: 240px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary;
    position: relative;

    > h2 {
      color: $secondaryLight;
    }

    .yearBig {
      width: 60px;
      height: 60px;
      font-size: 1.5rem;
      margin: 0 auto;
    }
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
  }

  .dayOfWeek {
    margin-bottom: 24px;
  }

  .day {
    width: 100%;
    min-height: 128px;
    border: 1px solid $secondary;
    display: flex;
    justify-content: center;
    color: $white;
  }

  .otherMonthDay {
    color: $secondaryLight;
    opacity: 0.5;
  }

  .monthArrows {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;

    > * {
      width: 60px;
      height: 60px;

      > svg {
        width: 16px;
      }
    }
  }

  .previousBig {
    left: -30px;
  }

  .nextBig {
    right: -30px;
  }

  .hidden {
    display: none;
  }

  .separator {
    height: 1px;
    width: 100%;
    background: $secondary;
  }
}
